<div class="ms-body-container">
    <div class="ms-header">
        <app-header></app-header>
    </div>
    <div class="ms-content">
        <div class="ms-left-container">
            <app-left-container></app-left-container>
        </div>
        <div class="ms-main-container">
            <md-sidenav-container>
                <router-outlet></router-outlet>
            </md-sidenav-container>
        </div>
        <div class="ms-right-container">
            <app-right-container></app-right-container>
        </div>
    </div>
    <div class="ms-footer">
        <app-footer></app-footer>
    </div>
</div>