<header class="menu-container" id="headerContainer">
    <div fxFill fxLayoutGap="10px" fxLayoutAlign="center center" fxLayout="row" fxLayout.xs="column">

        <div fxFlex="4 4 auto">
            Some logo
        </div>
        <div fxFlex="4 3 auto">
            <ul class="list-no-style" fxFill fxLayoutAlign="end center" fxLayout="row">
                <li fxFlex="1 1 auto" *ngFor="let tabLink of tabLinks">
                    <a mat-button [routerLink]="tabLink.url" routerLinkActive #rlaRef="routerLinkActive">
                        {{tabLink.display}}</a>
                </li>
            </ul>
        </div>
        <div fxFlex="1 1 auto">
            <button class="bgc-pink" (click)="newSchoolOwner()" mat-raised-button>For School Owner</button>
        </div>
        <div fxFlex="1 1 auto">
            <button class="bgc-pink" mat-raised-button (click)="signIn()">Sign In</button>
        </div>
    </div>
</header>