.menu-container {
    border-bottom: 1px solid #e0e0e0;
    background-color: cadetblue;
    height: 50px;
    color: beige;
}

.list-no-style {
    list-style-type: none;
}

.bgc-pink {
    background-color: #569696;
}